body {
    background-color: #eee;
    font-family: sans-serif;
}

img {
    height: 70px;
    border: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);   
}

table {
    text-align: center;
}

.select:hover {
    opacity: 0.7;    
}

.select:active {
    opacity: 0.5;
}

.maincolumns {
    width: 270px;
    display: inline-block;
    background-color: #ddd;
    text-align: center;
    height: 270px;
    vertical-align: middle;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}

.button {background-color: azure;
    display: inline-block;
    
}
#empty {
    margin-top: 83px;
}

#mymove {
    margin: 10px;
}

#aimove {
    margin: 10px;
}

#aimovepic {
    height: 140px;
}

#mymovepic {
    height: 140px;
}

#result {
    margin-top: 70px;
    font-size: 180%;
}